<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">请添加新书</div>
                <div class="panel-body">
                    <form name="bookForm" novalidate ng-submit="bookFormSubmit">
                        <div class="form-group">
                            <label>一张图书封面</label>
                            <input type="file" class="btn btn-default" name="bookPhoto">
                        </div>
                        <div class="form-group">
                            <label>图书名</label>
                            <input type="text" class="form-control" name="bookName">
                        </div>
                        <div class="form-group">
                            <label>描述</label>
                            <textarea class="form-control" cols="40" rows="20" name="description"
                                      placeholder="给点简介吧..."></textarea>
                        </div>
                        <div class="form-group">
                            <label>购书地址</label>
                            <input type="url" class="form-control" name="sellAddress"
                                   placeholder="当当/京东/天猫的购书地址">
                        </div>
                        <button type="submit" class="btn btn-success">新增书籍</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>