<div class="container">
    <div class="row">
        <div class="col-md-12">
            <uib-alert ng-repeat="alert in alerts " type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">请添加新书</div>
                <div class="panel-body">
                    <form name="bookForm" novalidate ng-submit="bookFormSubmit(bookForm.$valid)" class="showcase-form">
                        <div class="form-group">
                            <label>图书编号</label>
                            <input type="text" class="form-control" name="bookName" ng-model="book.bookNumber" required>
                        </div>

                        <div class="form-group">
                            <label>图书名</label>
                            <input type="text" class="form-control" name="bookName" ng-model="book.bookName" required>
                        </div>

                        <div class="form-group">
                            <label>书籍类型</label>
                            <input type="text" ng-model="book.bookType" ng-focus="clearBookTypeMsg()" ng-blur="checkBookType(book.bookType)"
                                   uib-typeahead="bookType for bookType in bookTypes | filter:$viewValue | limitTo:5"
                                   class="form-control" required>
                            <div class="text-warning form-group" ng-show="bookTypeExist">
                                <span>该书籍类型不存在，将会新增书籍类型</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>描述</label>
                            <textarea class="form-control" cols="40" rows="20" name="description"
                                      ng-model="book.description"
                                      placeholder="给点简介吧..." required></textarea>
                        </div>

                        <div class="form-group">
                            <label>购书地址</label>
                            <input type="url" class="form-control" name="sellAddress" ng-model="book.sellAddress"
                                   placeholder="当当/京东/天猫的购书地址" required>
                        </div>

                        <button type="submit" class="btn btn-success"
                                ng-disabled="bookForm.$invalid">新增书籍
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>