<div class="container">
    <div class="row">
        <div class="col-md-12">
            <alert ng-repeat="alert in alerts" type="alert.type" close="alert.close()">
                <span data-ng-bind-html="alert.msg"></span>
            </alert>
        </div>
    </div>
</div>

<div class="container" ng-controller="AddBookController">
    <div class="row">
        <div class="col-md-12">
            <a href="javascript:void(0)" ng-click="test()">123</a>
            <div class="panel panel-default">
                <div class="panel-heading">请添加新书</div>
                <div class="panel-body">
                    <form name="bookForm" novalidate ng-submit="bookFormSubmit(bookForm.$valid)" class="showcase-form">
                        <div class="form-group">
                            <label>图书编号</label>
                            <input type="text" class="form-control" name="bookName" ng-model="book.bookNumber" required>
                        </div>

                        <div class="form-group">
                            <label>图书名</label>
                            <input type="text" class="form-control" name="bookName" ng-model="book.bookName" required>
                        </div>

                        <div class="form-group">
                            <label>描述</label>
                            <textarea class="form-control" cols="40" rows="20" name="description"
                                      ng-model="book.description"
                                      placeholder="给点简介吧..." required></textarea>
                        </div>

                        <div class="form-group">
                            <label>购书地址</label>
                            <input type="url" class="form-control" name="sellAddress" ng-model="book.sellAddress"
                                   placeholder="当当/京东/天猫的购书地址" required>
                        </div>

                        <button type="submit" class="btn btn-success"
                                ng-disabled="bookForm.$invalid">新增书籍
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>