<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 20px">
            <div class="input-group custom-search-form">
                <input type="text" ng-model="vm.filter.$" class="form-control" placeholder="书名/描述/已借出/未借出...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-repeat="book in books">
            <div class="thumbnail">
                <div class="row" style="margin:15px 50px">
                    <div class="col-md-2">
                        <a href="{{book.sellAddress}}" target="_blank">
                            <img ng-src="{{book.bookPhoto}}"/>
                        </a>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-9"><h3 style="margin-top: 0">{{book.bookName}}</h3></div>
                            <div class="col-md-3 text-right">
                                <small><i class="fa fa-calendar"></i> {{book.createTime | date: 'yyyy-MM-dd' }}</small>
                            </div>
                        </div>
                        <p style="min-height: 70px">
                            {{book.description}}
                        </p>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9 text-right">
                                <ul class="list-inline" style="color: #999">
                                    <!--<li><a href=""><i class="fa fa-edit"></i> 修改</a></li>-->
                                    <li>
                                        <a href="javascript:void(0)" ng-click="delBook(book.bookId)">
                                            <i class="fa fa-trash"></i> 删除
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0)" ng-click="lendBook(book, $event.target)" ng-bind-html="formatLend(book.lend)"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>