.signin-panel {
    margin-top: 45%;
}
/*slide*/
.front, .items, .item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.back {
    bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}
.items {
    overflow: visible;
}
.item {
    background: #fff none no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
}
.showcase-form textarea.ng-invalid.ng-dirty,
.showcase-form select.ng-invalid.ng-dirty,
.showcase-form input.ng-invalid.ng-dirty {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}